body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a img {
    height: 15px;
    width: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero {
    background-color: #f0f0f0;
    padding: 50px;
    text-align: center;
}

.hero h1 {
    font-size: 2em;
}

.hero p {
    font-size: 1.2em;
    color: #555;
}

.hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.two-columns {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
}

.column img {
    width: 100%;
    height: auto;

}

.column a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 20px;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery img {
    width: 30%;
    height: auto;
    margin-bottom: 10px
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociales {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.redes-sociales li {
    margin-right: 10px;
}

.redes-sociales a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}